body {
    font-family: Verdana, sans-serif;
    background-color: grey;
    color: #333;
    text-align: center;
    padding: 50px;
}

header {
    margin-bottom: 30px;
    color: #3b3b3b;
}

#survey-form {
    background-color: lightgrey;
    padding: 40px;
    border-radius: 30px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(red, green, blue, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 15px;
}

textarea {
    resize: both;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 5px;
}

button {
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}